@import '../../mixins.scss';

.Form{
    width: 90%;
    margin: 5% 0;
    box-shadow: 0px 0px 40px lightgray;
    
    label{
        font-size: 14px;
        margin-top: 10px;
    }
    input, select{
        appearance:none;
        border: none;
        border-bottom: 1.5px solid #ccc;
        width:100%;
        padding: 5px;
        margin-top: 2.5px;
        position: relative;
    }
    select{
        width:40%;
        margin-top: 10px;
        background: none;
        outline: none;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    button{
        align-self: flex-end;
        flex:0 0 auto;
        height: 30px;
        min-width: 60px;
        cursor: pointer;
        color: #000000cf;
        border: 1px solid rgb(138, 138, 138);
        background: transparent;
        border-radius: 2px; 
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        &:focus {outline:0;};
        &:hover{
            background-color: rgba(245, 7, 7, 0.61);
            color: white;
            a{
                color: white;
            }
        }        
    }

    &__wrapper{
        display: flex;
        width: 80%;
        margin: 5%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__invalid{
        padding-top: 5px;
        color: #999;
        max-height: 0;
        transition: 0.68s;
        overflow: hidden;
        color: red;
        font-size: 12px;
    }
    &__invalid--show{
        max-height: 100px;
    }
}

@include media-breakpoint-up-md {
    .Form{
        width: 80%;
        &__wrapper{
            width: 40%;     
        }
    }
    
}