.Form {
  width: 90%;
  margin: 5% 0;
  box-shadow: 0px 0px 40px lightgray; }
  .Form label {
    font-size: 14px;
    margin-top: 10px; }
  .Form input, .Form select {
    appearance: none;
    border: none;
    border-bottom: 1.5px solid #ccc;
    width: 100%;
    padding: 5px;
    margin-top: 2.5px;
    position: relative; }
  .Form select {
    width: 40%;
    margin-top: 10px;
    background: none;
    outline: none; }
  .Form input[type=number]::-webkit-inner-spin-button,
  .Form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .Form button {
    align-self: flex-end;
    flex: 0 0 auto;
    height: 30px;
    min-width: 60px;
    cursor: pointer;
    color: #000000cf;
    border: 1px solid #8a8a8a;
    background: transparent;
    border-radius: 2px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; }
    .Form button:focus {
      outline: 0; }
    .Form button:hover {
      background-color: rgba(245, 7, 7, 0.61);
      color: white; }
      .Form button:hover a {
        color: white; }
  .Form__wrapper {
    display: flex;
    width: 80%;
    margin: 5%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .Form__invalid {
    padding-top: 5px;
    color: #999;
    max-height: 0;
    transition: 0.68s;
    overflow: hidden;
    color: red;
    font-size: 12px; }
  .Form__invalid--show {
    max-height: 100px; }

@media (min-width: 768px) {
  .Form {
    width: 80%; }
    .Form__wrapper {
      width: 40%; } }
