@import '../../mixins.scss';

.CartList{
    display: flex;
    width: 90%;
    margin: 10% 0;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 40px lightgray;
    
    a {
        color: #000000cf;
        text-decoration: none;
        &:hover{
            color: white;
        }
    }

    button{
        appearance: none;
        flex:0 0 auto;
        height: 30px;
        min-width: 30px;
        cursor: pointer;
        color: #000000cf;
        border-radius: 2px; 
        border: 1px solid rgb(138, 138, 138);
        background: transparent;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        &:focus {outline:0;};
        &:hover{
            background-color: rgba(245, 7, 7, 0.61);
            color: white;
            a{
                color: white;
            }
        }        
    }

    &__priceTag{
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        font-weight: 400;
        padding: 0 40px;
        span{
            align-self: flex-end;
        }
        button{
            width: 100px;
            margin:15px auto;
        }
    }
}


@include media-breakpoint-up-md {
    .CartList{
        width: 80%;
    }
}