.CartList {
  display: flex;
  width: 90%;
  margin: 10% 0;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 40px lightgray; }
  .CartList a {
    color: #000000cf;
    text-decoration: none; }
    .CartList a:hover {
      color: white; }
  .CartList button {
    appearance: none;
    flex: 0 0 auto;
    height: 30px;
    min-width: 30px;
    cursor: pointer;
    color: #000000cf;
    border-radius: 2px;
    border: 1px solid #8a8a8a;
    background: transparent;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; }
    .CartList button:focus {
      outline: 0; }
    .CartList button:hover {
      background-color: rgba(245, 7, 7, 0.61);
      color: white; }
      .CartList button:hover a {
        color: white; }
  .CartList__priceTag {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 400;
    padding: 0 40px; }
    .CartList__priceTag span {
      align-self: flex-end; }
    .CartList__priceTag button {
      width: 100px;
      margin: 15px auto; }

@media (min-width: 768px) {
  .CartList {
    width: 80%; } }
