@import '../../mixins.scss';


.CartItem{
    flex:1;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin: 5vh auto;
    
    &__count{
        font-size: 12px;
        color: #7b7b7b;
        min-width: 30px;
    }

    &__delete{
        color: #000000cf;
        transition-duration: 0.4s;
        width: 25px;
        margin-bottom: 0px;
        margin-top: 10px;

        &:hover{
            color: rgba(245, 7, 7, 0.61);
        }
    }

    &__image{
        flex: 0 0 28%;
        display: flex;
        justify-content: center;
        color: #b4b2b2;
        &__icon{
            width:55%;
            width:55%;
            border-radius: 6px;
            box-shadow: -1px 7px 18px lightgrey
        }

    }
    &__text{
        flex: 1 0 50%;
        padding: 0 30px;
        text-align: left;
        &--header{
            padding: 5px 0;            
        }
        &--main{
            color: #7b7b7b;
            font-size: 12px;
        }
    }
    &__controls{
        flex: 1 1 50%;
        display: flex;
        flex-direction: column-reverse;
        padding: 40px 40px 0;
        border-left: none;

        &--upper{
            display: flex;
            justify-content: flex-end;
        }
        &--lower{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__priceTag{
        min-width: 50px;
    }

    &:after{
        position: relative;
        flex: 0 0 95%;
        left: 50%;
        margin-top: 20px;
        transform: translateX(-50%);
        content: " ";
        display: block;
        border-bottom: 1px solid #7b7b7b2e;
      }
}


@include media-breakpoint-up-sm {
    .CartItem{
        flex-direction: row;
        &__image{
            flex:1;
        }
        &__text{
            flex:3;
        }
        &__controls{
            flex:2;
            flex-direction: column;
            padding: 0 40px;
            border-left: 1px solid #7b7b7b2e;

        }
        &__delete{
            margin-bottom: 20px;
        }

        &:after{
            margin-top: 40px;
        }
        
    }
}