.CartItem {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5vh auto; }
  .CartItem__count {
    font-size: 12px;
    color: #7b7b7b;
    min-width: 30px; }
  .CartItem__delete {
    color: #000000cf;
    transition-duration: 0.4s;
    width: 25px;
    margin-bottom: 0px;
    margin-top: 10px; }
    .CartItem__delete:hover {
      color: rgba(245, 7, 7, 0.61); }
  .CartItem__image {
    flex: 0 0 28%;
    display: flex;
    justify-content: center;
    color: #b4b2b2; }
    .CartItem__image__icon {
      width: 55%;
      width: 55%;
      border-radius: 6px;
      box-shadow: -1px 7px 18px lightgrey; }
  .CartItem__text {
    flex: 1 0 50%;
    padding: 0 30px;
    text-align: left; }
    .CartItem__text--header {
      padding: 5px 0; }
    .CartItem__text--main {
      color: #7b7b7b;
      font-size: 12px; }
  .CartItem__controls {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column-reverse;
    padding: 40px 40px 0;
    border-left: none; }
    .CartItem__controls--upper {
      display: flex;
      justify-content: flex-end; }
    .CartItem__controls--lower {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .CartItem__priceTag {
    min-width: 50px; }
  .CartItem:after {
    position: relative;
    flex: 0 0 95%;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    content: " ";
    display: block;
    border-bottom: 1px solid #7b7b7b2e; }

@media (min-width: 576px) {
  .CartItem {
    flex-direction: row; }
    .CartItem__image {
      flex: 1; }
    .CartItem__text {
      flex: 3; }
    .CartItem__controls {
      flex: 2;
      flex-direction: column;
      padding: 0 40px;
      border-left: 1px solid #7b7b7b2e; }
    .CartItem__delete {
      margin-bottom: 20px; }
    .CartItem:after {
      margin-top: 40px; } }
