@mixin media-breakpoint-up-sm {
    @media (min-width: 576px) { @content; }
  }
  @mixin media-breakpoint-up-md {
    @media (min-width : 768px) { @content; }
  }
  @mixin media-breakpoint-up-lg {
    @media (min-width : 992px) { @content; }
  }
  @mixin media-breakpoint-up-xl {
    @media (min-width: 1200px) { @content; }
  }